<p>
    You can use PurifyCSS and webpack to remove unused selectors from your style sheets.
</p>
<p>
    It works by scanning your *.CSHTML page and *.HTML components and *.JS file for style references and including those.
</p>
<p>
    If there are styles removed from the style sheet because they are dynamically built and added at runtime, you can add them to a whitelist.
</p>

<carousel></carousel>